
@use "_variables"

@use '../../node_modules/bulma/bulma.scss'
@use "../../node_modules/bulma/sass/utilities/initial-variables"

$primary: variables.$primary

//Menu overrides
$menu-item-color: variables.$white-ter
$menu-item-hover-color: variables.$black !important
$menu-item-hover-background-color: variables.$black
$menu-item-active-color: variables.$kaldi-red-invert
$menu-item-active-background-color:	variables.$kaldi-red-invert
$menu-list-border-left: 1px solid variables.$kaldi-red-invert
$menu-label-color: variables.$white-ter

.navbar .navbar-menu
  box-shadow: none !important

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.btn
    display: inline-block
    padding: 12px 16px 10px
    font-size: 18px
    font-size: 1rem
    line-height: 1.25
    background-color: #fff
    border-radius: .25rem
    text-decoration: none
    font-weight: 700
    color: #CC3700
    text-align: center
    -webkit-box-shadow: inset 0 0 0 2px #CC3700
    box-shadow: inset 0 0 0 2px #f40
    -webkit-transition: all .15s ease
    transition: all .15s ease

.margin-top-0
  margin-top: 0 !important


.navbar 
  --light-light-gray: #91919724
  border-bottom: 1px solid var(--light-light-gray)
.navbar-item .icon
  color: variables.$primary
// Override for use of svg's from https://simpleicons.org/
.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: variables.$primary // currentColor
.navbar-brand .navbar-item.logo
  padding: 0 1rem
footer.footer
  padding: 3rem 0rem 0rem
  background-color: transparent
.navbar-burger
  color: variables.$primary


.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left
.social
  padding: 2em
.social a
    padding: .5em .5em .3em .5em
    border-radius: 1em
    background-color: variables.$white-ter
    margin: .5em
    width: 1em
    height: 1em
    vertical-align: middle
    display: inline

// blog roll
.blog-list-item.is-featured
  background-color: #d6400033
.blog-list-item header
  display: flex
  margin-bottom: 1em
.blog-list-item .featured-thumbnail
  flex-basis: 35%
  margin: 0 1.5em 0 0

  
.kleine-raken-item.is-featured
  background-color: #d6400033
.kleine-raken-item header
  display: flex
  margin-bottom: 1em
.kleine-raken-item .featured-thumbnail
  flex-basis: 100%
  margin: 0 1.5em 0 0


//   flex-flow: column

.post-picture-item
  border-width: 10px
  border-color: #0000


.post-picture-picture
  display: flex
  justify-content: center

.max-width-block
    width: 100%
//    max-width: 1000px
    margin: 0 auto
//    grid-column-gap: 50px
//    grid-row-gap: 50px
//    justify-content: center
//    align-items: center
//    margin-left: 0
//    margin-right: 0
//    padding: 0 20px
//    display: flex

.main-container-div
  background: none
//  width: 1000px

.pages-wrapper 
  background-color: #fff
  border-top: 1px #4772d926
  margin-left: 0
  margin-right: 0
  padding-top: 0
  padding-left: 20px
  padding-right:20px
  position: relative
  inset: 0% 0% auto
  overflow: hidden

.mainpage-content
  padding-top: 20px
  padding-bottom: 20px
  align: center
  --light-light-gray: #91919724
  border-bottom: 1px solid var(--light-light-gray)
  display: flex
  justify-content: center
  align-items: center

.heading-78 
  text-align: center
  margin-top: 20px
  font-family: Alegreya variablefont wght, Times New Roman, sans-serif

h1 
    clear: none
    color: #000
    text-align: center
    margin-top: 20px
    margin-bottom: 10px
    font-family: Alegreyasans, Times New Roman, sans-serif
    font-size: 30px
    font-weight: 400
    line-height: 50px
    display: block

h2 
    color: var(--black)
    margin-top: 10px
    margin-bottom: 30px
    font-family: Alegreya variablefont wght, Times New Roman, sans-serif
    font-size: 22px
    font-weight: 400
    line-height: 44px

h3
    color: var(--black)
    margin-top: 0px
    margin-bottom: 10px
    font-family: Alegreya variablefont wght, Times New Roman, sans-serif
    font-size: 18px
    font-weight: 400
    line-height: 30px


$small: 300px
$medium: 600px

@media print, screen and (min-width: $medium)
  .list-container
    display: flex
    width: 100%
    border: 0px

@media print, screen and (max-width: $medium)
  .list-container
    display: block
    flex-wrap: wrap

.list-col-2
  padding: 10px
  border: 0px
  flex: none

@media print, screen and (min-width: $medium)
  .list-col-2
    width: 50%
    
@media print, screen and (max-width: $medium)
  .list-col-2
    width: 100%

.list-col-2:hover
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)


.list-col-3
  width: 33%
  padding: 10px
  border: 0px
  flex: none

.list-col-3:hover
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)


.post-item-title
  text-align: center




.image-49 
    aspect-ratio: 1
    object-fit: cover
    width: 100%
    max-width: 100%
    max-height: 276px
    margin-top: 0


.kleine-raak-small-image
    margin-top: 0
    max-width: 200px

img 
    border-radius: 0
    max-width: 100%
    margin-top: 0
    margin-bottom: 0
    padding-bottom: 0
    display: inline-block
    vertical-align: middle
    border: 0
    overflow-clip-margin: content-box
    overflow: clip

a
  color: #911e37

a:hover
  color: var(--link-hover)
  font-weight: 400
  text-decoration: none




.flex-card-blog 
    border: 20px solid var(--white)
    width: 100%
    margin-top: 0
    margin-bottom: 20px
    padding: 0
    transition: box-shadow .4s


