
.container-old {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
}

.heading {
  color: rgb(226, 19, 19);
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}

.pages-wrapper {
  background-color: #fff;
  border-top: 1px #4772d926;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  inset: 0% 0% auto;
  overflow: hidden;
}


